---
import './TabGroup.css';
import UIString from '../UIString.astro';
import { getLanguageFromURL } from '../../util';

const currentPage = new URL(Astro.request.url).pathname;
const lang = getLanguageFromURL(currentPage);
const segments = currentPage.split('/');
---
<div class="TabGroup DeployTabGroup no-flex pull-wide">
	<a href={`/${lang}/deploy/netlify/`} class={segments.includes('netlify') ? 'active' : ''}>
		Netlify
	</a>
	<a href={`/${lang}/deploy/vercel/`} class={segments.includes('vercel') ? 'active' : ''}>
		Vercel
	</a>
	<a href={`/${lang}/deploy/deno/`} class={segments.includes('deno') ? 'active' : ''}>
		Deno
	</a>
	<a href={`/${lang}/deploy/github/`} class={segments.includes('github') ? 'active' : ''}>
		GitHub Pages
	</a>
	<a href={`/${lang}/deploy/gitlab/`} class={segments.includes('gitlab') ? 'active' : ''}>
		GitLab Pages
	</a>
	<a href={`/${lang}/deploy/cloudflare/`} class={segments.includes('cloudflare') ? 'active' : ''}>
		Cloudflare Pages
	</a>
	<a href={`/${lang}/deploy/google-cloud/`} class={segments.includes('google-cloud') ? 'active' : ''}>
		Google Cloud
	</a>
	<a href={`/${lang}/deploy/google-firebase/`} class={segments.includes('google-firebase') ? 'active' : ''}>
		Google Firebase
	</a>
	<a href={`/${lang}/deploy/heroku/`} class={segments.includes('heroku') ? 'active' : ''}>
		Heroku
	</a>
	<a href={`/${lang}/deploy/other/`} class={segments.includes('other') ? 'active' : ''}>
		<UIString key="deploy.otherTab" />
	</a>
</div>