---
import { LinkButton } from '@astrojs/starlight/components';
import AstroJobs from './AstroJobs.png';
import { Image } from 'astro:assets';

const offerUrl = 'https://astro.jobs?promoCode=ASTRO20';

const idCount = (((Astro.locals as any)._ad_render_id as number | undefined) ??= 1);
(Astro.locals as any)._ad_render_id++;
const headingId = `learn-astro-course-${idCount}`;
---

<div class="container" lang="en" dir="ltr" data-algolia-exclude>
	<aside aria-labelledby={headingId}>
		<Image src={AstroJobs} alt="" width="72" quality="high" />
		<h2 id={headingId}>
			<strong>Astro.jobs</strong>, the Astro job board
		</h2>
		<p>Find your next role in the Astro ecosystem</p>
		<LinkButton href={offerUrl} class="cta" data-astrojobs-cta>60% off job postings</LinkButton>
	</aside>
</div>

<script>
	document.querySelectorAll('a[data-astrojobs-cta]').forEach((link) =>
		link.addEventListener('click', () => {
			(window as any).fathom?.trackEvent('Docs: Astro.jobs campaign click');
		})
	);
</script>

<style>
	.container {
		container-type: inline-size;
		max-width: 45rem;
		margin-inline: auto;
	}
	aside {
		margin-top: 2rem;
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		padding: 1rem;
		background-color: var(--sl-color-gray-6);
		box-shadow: var(--sl-shadow-md);

		/* Internal layout */
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			'image'
			'title'
			'tagline'
			'cta';
		gap: 0.75rem 0.5rem;
		align-items: center;
		line-height: var(--sl-line-height-headings);
	}

	img {
		grid-area: image;
		outline: 4px solid var(--sl-color-gray-6);
		border-radius: 999rem;
		max-width: 3rem;
		height: auto;
		margin-inline: auto;
	}

	h2 {
		grid-area: title;
		margin: 0 !important;
		font-weight: 400 !important;
		text-wrap: balance;
		text-align: center;
		color: var(--sl-color-white);
	}
	h2 strong {
		/* font-size: var(--sl-text-xl); */
	}

	p {
		grid-area: tagline;
		font-size: var(--sl-text-sm);
		text-align: center;
		text-wrap: balance;
	}

	.cta {
		grid-area: cta;
		text-align: center;
		justify-content: center;
		font-size: var(--sl-text-sm) !important;
		font-weight: 500;
		padding-block: 0.6875rem !important;
		transition: opacity 200ms ease-out;
	}
	.cta:hover {
		opacity: 0.8;
	}

	/* When there’s enough room, move the CTA button to the right instead of below. */
	@container (width > 40rem) {
		aside {
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto;
			grid-template-areas:
				'title image cta'
				'tagline image cta';
			row-gap: 0.25rem;
		}
		h2 {
			text-align: left;
		}
		p {
			text-align: start;
		}
	}
</style>
