---
import { LinkButton } from '@astrojs/starlight/components';
import AstroJobs from './AstroJobs.png';
import { Image } from 'astro:assets';

const offerUrl = 'https://astro.jobs?promoCode=ASTRO20';

const idCount = (((Astro.locals as any)._ad_render_id as number | undefined) ??= 1);
(Astro.locals as any)._ad_render_id++;
const headingId = `learn-astro-course-${idCount}`;
---

<div class="container" lang="en" dir="ltr" data-algolia-exclude>
	<aside aria-labelledby={headingId}>
		<Image src={AstroJobs} alt="" width="130" />
		<h2 id={headingId}>Find your next <strong>Astro job</strong></h2>
		<p>Open roles from teams already building with Astro.</p>
		<LinkButton href={offerUrl} class="cta" data-astrojobs-cta>Browse open roles</LinkButton>
	</aside>
</div>

<script>
	document.querySelectorAll('a[data-astrojobs-cta]').forEach((link) =>
		link.addEventListener('click', () => {
			(window as any).fathom?.trackEvent('Docs: Astro.jobs campaign click');
		})
	);
</script>

<style>
	.container {
		container-type: inline-size;
		max-width: 45rem;
		margin-inline: auto;
	}
	aside {
		margin-top: 2rem;
		border: 1px solid var(--sl-color-gray-5);
		border-radius: 0.5rem;
		padding: 1rem;
		background-color: var(--sl-color-gray-6);
		box-shadow: var(--sl-shadow-md);

		/* Internal layout */
		display: grid;
		grid-template-columns: 4rem 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			'image title'
			'tagline tagline'
			'cta cta';
		gap: 0.75rem 0.5rem;
		align-items: center;
	}

	img {
		grid-area: image;
		width: 100%;
		height: auto;
		margin: -0.25rem;
		border-radius: 999rem;
	}

	h2 {
		grid-area: title;
		font-weight: 400 !important;
		line-height: var(--sl-line-height-headings);
		text-wrap: balance;
		color: var(--sl-color-white);
	}

	p {
		grid-area: tagline;
		font-size: var(--sl-text-2xs);
		line-height: var(--sl-line-height-headings);
		text-align: center;
		text-wrap: balance;
	}

	svg {
		width: 1.5em;
		height: 1.5em;
	}

	.cta {
		grid-area: cta;
		text-align: center;
		justify-content: center;
		font-size: var(--sl-text-sm) !important;
		font-weight: 500;
		padding-block: 0.6875rem !important;
		transition: opacity 200ms ease-out;
	}
	.cta:hover {
		opacity: 0.8;
	}

	/* When there’s room, tuck the tagline in under the title to the right of the image. */
	@container (width > 24rem) {
		aside {
			row-gap: 0.25rem;
			grid-template-areas:
				'image title'
				'image tagline'
				'cta cta';
		}
		.cta {
			margin-top: 0.5rem;
		}
		p {
			text-align: start;
		}
	}
	/* When there’s even more room, move the CTA button to the right instead of below. */
	@container (width > 40rem) {
		aside {
			grid-template-columns: 4rem auto auto;
			grid-template-areas:
				'image title cta'
				'image tagline cta';
		}
		.cta {
			margin-top: 0;
		}
	}
</style>
