---
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import ArticleNavigationButton from './ArticleNavigationButton.astro';
import TableOfContents from '../RightSidebar/TableOfContents.tsx';
import { getNav, useTranslations } from "../../i18n/util";
import { getLanguageFromURL } from '../../util';

const { content, githubEditUrl, currentPage } = Astro.props;
const title = content.title;
const headers = content.astro?.headers;
const lang = getLanguageFromURL(Astro.canonicalURL.pathname);
const links = (await getNav(Astro)).filter((x) => !('header' in x) && x.slug) as { text: string; slug: string; }[];
const index = links.findIndex((x) => currentPage.includes(x.slug));
const makeLinkItem = ({ text, slug }) => ({ text, link: `/${lang}/${slug}` });
let next, previous;
if (index > 0) previous = makeLinkItem(links[index - 1]);
if (index !== -1 && index < links.length - 1) next = makeLinkItem(links[index + 1]);
const t = useTranslations(Astro);
---

<article id="article" class="content">
	<section class="main-section">
		<h1 class="content-title" id="overview" set:html={title} />
		{headers && (
			<nav class="block lg-hidden">
				<TableOfContents
					client:media="(max-width: 50em)"
					headers={headers}
					labels={{ onThisPage: t('rightSidebar.onThisPage'), overview: t('rightSidebar.overview') }}
				/>
				<MoreMenu editHref={githubEditUrl} />
			</nav>
		)}
		<slot />
	</section>
	{(previous || next) && (
		<aside class="next-previous-nav">
			{previous && <ArticleNavigationButton rel="prev" item={previous} />}
			{next && <ArticleNavigationButton rel="next" item={next} />}
		</aside>
	)}
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.content > section {
		margin-bottom: 4rem;
	}
	.block {
		display: block;
	}
	.next-previous-nav {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		gap: 1rem;
		margin-bottom: 1.5rem;
	}

	@media (min-width: 72em) {
		.lg-hidden {
			display: none;
		}
	}
</style>
