---
import type { Props } from '@astrojs/starlight/props';
import BackendGuidesNav from '../BackendGuidesNav.astro';
import CMSGuidesNav from '../CMSGuidesNav.astro';
import DeployGuidesNav from '../DeployGuidesNav.astro';
import IntegrationsNav from '../IntegrationsNav.astro';
import MigrationGuidesNav from '../MigrationGuidesNav.astro';
import { useTranslations } from '~/i18n/util';
import '../../../node_modules/@astrojs/starlight/style/markdown.css';

const t = useTranslations(Astro);

const { entry } = Astro.props;
---

<div class="sl-markdown-content">
	<slot />

	{
		entry.data.type === 'backend' && (
			<>
				<h2>{t('backend.navTitle')}</h2>
				<BackendGuidesNav minimal={true} />
			</>
		)
	}
	{
		entry.data.type === 'cms' && (
			<>
				<h2>{t('cms.navTitle')}</h2>
				<CMSGuidesNav minimal={true} />
			</>
		)
	}
	{
		entry.data.type === 'deploy' && (
			// <h2>{t('deploy.sectionTitle')}</h2>
			<DeployGuidesNav minimal={true} />
		)
	}
	{
		entry.data.type === 'integration' && (
			<>
				<h2>{t('integrations.others')}</h2>
				<IntegrationsNav minimal={true} />
			</>
		)
	}
	{
		entry.data.type === 'migration' && (
			<>
				<h2>{t('migration.navTitle')}</h2>
				<MigrationGuidesNav minimal={true} />
			</>
		)
	}
</div>
