---
import docs from '~/assets/docs.svg?raw'
import { logos } from 'virtual:starlight/user-images'
import config from 'virtual:starlight/user-config'
import { pathWithBase } from '../../../node_modules/@astrojs/starlight/utils/base'
import type { Props } from '@astrojs/starlight/props'

const href = pathWithBase((Astro.props.locale || '') + '/getting-started/')
---

<span class="site-title sl-flex">
	{
		config.logo && logos.dark && (
			<a href="https://astro.build/">
				<img
					class:list={{ 'dark-only': !('src' in config.logo) }}
					alt={config.logo.alt}
					src={logos.dark.src}
					width={logos.dark.width}
					height={logos.dark.height}
				/>
				{/* Show light alternate if a user configure both light and dark logos. */}
				{!('src' in config.logo) && (
					<img
						class="light-only"
						alt={config.logo.alt}
						src={logos.light?.src}
						width={logos.light?.width}
						height={logos.light?.height}
					/>
				)}
			</a>
		)
	}
  <a {href} class="docs" set:html={docs}/>
</span>

<style>
	.site-title {
		justify-self: flex-start;
		max-width: 100%;
		overflow: hidden;
		align-items: center;
		gap: 0.25rem;
		font-size: var(--sl-text-h4);
		font-weight: 600;
		color: var(--sl-color-text-accent);
		text-decoration: none;
		white-space: nowrap;
	}
  .site-title a:first-child {
    padding-top: 0.8rem;
  }
  .site-title a {
    transition: transform .18s ease-out;
  }
  .site-title a:hover {
    transform: translateY(-0.25rem);
  }
	img {
		height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
		width: auto;
		max-width: 100%;
		object-fit: contain;
		object-position: 0 50%;
	}
	:global([data-theme='light']) .dark-only {
		display: none;
	}
	:global([data-theme='dark']) .light-only {
		display: none;
	}
  .vertical-line {
    height: 66%;
    border-left: 2px solid var(--sl-color-gray-5);
  }

  .docs {
    height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y) - 0.25rem);
		width: auto;
		object-fit: contain;
		object-position: 0 50%;
    color: var(--sl-color-text-accent);
  }

  .docs :global(svg) {
    height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y) - 0.25rem);
		width: auto;
		object-fit: contain;
		object-position: 0 50%;
  }
</style>
