---
import { Icon } from '@astrojs/starlight/components';

export interface Props {
	query: string;
	stackOverflow?: string;
	reddit?: string;
	discord?: string;
}

let { query, stackOverflow, reddit, discord } = Astro.props;

if (!query) {
  throw new Error('Missing the search `query` in the <CommunityLinks/> component.');
}
query = encodeURI(query);
---

<ul>
	{
		stackOverflow && (
			<li>
				<Icon class="icon" name="stackOverflow" />
				<a href={`https://stackoverflow.com/search?q=%5Bastrojs%5D+${query}`}>{stackOverflow}</a>
			</li>
		)
	}
	{
		reddit && (
			<li>
				<Icon class="icon" name="reddit" />
				<a href={`https://www.reddit.com/r/astrojs/search/?q=${query}`}>
          {reddit}
				</a>
			</li>
		)
	}
	{
		discord && (
			<li>
				<Icon class="icon" name="discord" />
				<a href={`https://astro.build/chat`}>
          {/* Handle <code/> tags */}
					<Fragment set:html={discord}>
				</a>
			</li>
		)
	}
</ul>

<style>
	li {
		display: flex;
		gap: 0.5rem;
		align-items: flex-start;
	}
	ul {
		margin-inline-start: 0.5rem;
		padding: 0;
		list-style: none;
	}
	.icon {
		--icon-size: 1.5rem;
		font-size: var(--icon-size);
		flex-shrink: 0;
		/* Align to the middle of the first line of text. */
		margin-block: calc((var(--sl-line-height) * 1rem - var(--icon-size)) / 2);
		color: var(--sl-color-text-accent);
	}
</style>
