---
import { sidebar } from '../config.ts';
const {currentPage} = Astro.props;
console.log(currentPage, sidebar);
---


<nav>
  <ul class="nav-groups">  
    {sidebar.map(category => (
      <li>
        <div class="nav-group">
          <h2 class="nav-group-title">{category.text}</h2>
          <ul>
            {category.children.map(child => (
              <li class={`nav-link ${currentPage === child.link ? 'is-active' : ''}`}><a href={`${Astro.site.pathname}${child.link}`}>{child.text}</a></li>
            ))}
          </ul>
        </div>
      </li>
    ))}
  </ul>
</nav>

<style>
nav {
    width: 100%;
    top: 3.5rem;
}
  .nav-groups {
    height: calc(100vh - 3.5rem);
    padding-bottom: 2rem;
    overflow: auto;
  }

  .nav-groups > li + li {
    margin-top: 2rem;
  }

  .nav-group-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .nav-link {
    font-size: 1.1rem;
    margin-bottom: 2px;
    padding: 0.1rem 0.25rem;
    transition: 120ms transform ease-out;
    color: var(--theme-text-lighter);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--theme-text);
  }

  .nav-link.is-active {
    display: inline-block;
    color: var(--color-blue);
    font-weight: 600;
  }


  .nav-link a {
    font: inherit;
    color: inherit;
    text-decoration: none;
  }

</style>