---
interface Props {
	tree: string;
	compact?: boolean;
}

const { tree, compact } = Astro.props as Props;

const file = 'src/pages/index.astro';
const github = `https://github.com/${tree}`;
const stackblitz = `https://stackblitz.com/github/${tree}?file=${file}`;
---

<p>
	你可以在 <a href={github}>GitHub</a> 或者 <a href={stackblitz}>StackBlitz</a>
	上找到这个教程当前阶段的代码。
</p>
{
	compact !== true && (
		<p>
			检查你的代码是否与此示例匹配。或者如果你刚刚加入我们，
			请在 StackBlitz 上 Fork，并从这里开始在浏览器中进行编程。
		</p>
	)
}
