---
interface Props {
	tree: string;
	compact?: boolean;
}

const { tree, compact } = Astro.props as Props;

const file = 'src/pages/index.astro';
const github = `https://github.com/${tree}`;
const stackblitz = `https://stackblitz.com/github/${tree}?file=${file}`;
---

<p>
	You can find the code at this point in the tutorial on <a href={github}>GitHub</a> or
	<a href={stackblitz}>StackBlitz</a>.
</p>
{
	compact !== true && (
		<p>
			Check your code against this example, or if you've just joined us, fork on StackBlitz to start
			coding along in your browser from here.
		</p>
	)
}
