---
import MainLayout from './MainLayout.astro';
import InstallGuideTabGroup from '../components/TabGroup/InstallGuideTabGroup.tsx';
// import HeadCommon from '../components/HeadCommon.astro';
// import HeadSEO from '../components/HeadSEO.astro';
// import Header from '../components/Header/Header.astro';
// import PageContent from '../components/PageContent/PageContent.astro';
// import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
// import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
// import { SITE } from '../config.ts';
import { getLanguageFromURL } from '../util.ts';
import { Markdown } from 'astro/components';

const { content: _content, hideRightSidebar = false } = Astro.props;
const content = {
    ..._content,
    title: "Install Astro",
    description: "How to install Astro with NPM, PNPM, or Yarn.",
};

const currentPage = Astro.request.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `https://github.com/withastro/docs/blob/main/${currentFile}`;
const formatTitle = (content, SITE) => (content.title ? `${content.title} 🚀 ${SITE.title}` : SITE.title);
const lang = getLanguageFromURL(Astro.request.url.pathname);
---

<MainLayout content={content}>

    <p>
    Astro CSS works by scanning all of your HTML files, JavaScript components, and any other templates for class names, generating the corresponding styles and then writing them to a static CSS file.
    </p>

    <Markdown>
        #### Prerequisites

        - **Node.js** - `14.15.0`, `v16.0.0`, or higher.
        - **Text editor** - We recommend [VS Code](https://code.visualstudio.com/) with our [Official Astro extension](https://marketplace.visualstudio.com/items?itemName=astro-build.astro-vscode).
        - **Terminal** - Astro is accessed through its command-line interface (CLI).
        
        #### Installation
    </Markdown>
    
    <InstallGuideTabGroup currentPage={currentPage} />

    <slot />
    
</MainLayout>